
/* Add your custom CSS here */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

header {
    background-color: #333;
    color: white;
    padding: 5px;
}

main {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
}

.page {
    display: none;
}

.active-page {
    display: block;
}

.tracking-sidebar ul li.active {
    background-color: #007bff; /* Change this color to your preferred active step highlight color */
    color: white;
}
.hidden {
    display: none;
}
.image-container:hover img {
    transform: scale(1.87); /* Increase the size on hover (you can adjust the scale factor) */
}

/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style the button that triggers the dropdown */
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the dropdown links */
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
  }
  
  /* Change the link color on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown content when hovering over the button */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Excel-like table styles for page7 */
#page7 {
  margin: 20px auto;
  max-width: 100%;
  overflow-x: auto;
}

#page7 table {
  border-collapse: collapse;
  width: 100%;
}

#page7 th, #page7 td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#page7 th {
  background-color: #f2f2f2;
}

#page7 tr:nth-child(even) {
  background-color: #f2f2f2;
}

#page7 tr:hover {
  background-color: #e0e0e0;
}